{% load static %}
{% load widget_tweaks %}

<div class="position-relative start-50 translate-middle-x col-4 mt-5 py-4 border shadow-lg rounded-3 " style="display:block;">
    <div class="continer-fluid d-flex justify-content-center">
        <div class="col-8">

            <div style="width:100%;">
                <div class="fs-4 text-muted">First name: <span class="ms-1 text-black">{{user.first_name}}</span></div>
                <hr class="bg-dark">
                <div class="fs-4 text-muted">Last name: <span class="ms-1 text-black">{{user.last_name}}</span></div>
                <hr class="bg-dark">
                <div class="fs-4 text-muted">Email: <span class="ms-1 text-black">{{user.email}}</span></div>
                <hr class="bg-dark">
                <div class="fs-4 text-muted">Username: <span class="ms-1 text-black">{{user.username}}</span></div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn biggerbutton  btn-secondary " hx-get="{% url 'accounts:edit-snippet' %}" hx-target="#replacement" hx-swap="innerHTML">Edit details</button>
            </div>
            
        </div>
    </div>
</div>

