{% extends 'default.html' %}
{% load static %}
{% load widget_tweaks %}
{% block customcss %} 
<link rel="stylesheet" href="{% static 'styles.css' %}"> 
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock customcss %}
{% block title %} Substack - Create
{% endblock title %}
{% block content  %}
{% include 'snippets/generalheader.html' %}

<style>
     #title {
        font-size: 50px !important;
        color: rgb(120,120,120)  !important;
        width: 100% !important;
        outline: none !important;
        overflow-y: hidden !important;
        resize:none;
    }

    #description {
        font-size: 20px !important;
        color: rgb(120,120,120)  !important;
        width: 100% !important;
        outline: none !important;
        overflow-y: hidden !important;
        resize:none;

    }

    #title::placeholder, #description::placeholder { 
        color: rgb(214,214,214)  !important ;
        opacity: 1; 
    }
    #topicspan {
        background-color: #DDDDDD !important;
        outline: none;
    }

    .lightbtncolor {
        background-color: #bdc2c7 !important;
        border:none !important;
    }


</style>

<div class="d-flex justify-content-center col-5 offset-4  p-5 rounded-3  mb-5 bg-body rounded">
    <form id='create-article-form' class="" method='post' action="." enctype="multipart/form-data">{% csrf_token %}
        {% render_field articleForm.media %}
        {% render_field articleForm.title id="title" class="d-block border border-white lh-sm p-0 m-auto shadow-none text-start "%}
        {% render_field articleForm.description id="description" class="d-block border border-white lh-sm p-0 m-auto mt-2 shadow-none text-start" %}
        {% render_field articleForm.body id="body" %}

        <div class="d-flex justify-content-between mt-3">
            <div>
            {% render_field articleForm.thumbnail hidden="hidden" %} 
            <button type="button" class="btn btn-secondary lightbtncolor " id="custom-button">Upload footer image</button>
            <span id="imagepath" class="fs-6 lead text-muted ps-2">No file chosen</span>
            </div>
            
            {% render_field articleForm.topic class="form-select-lg" %} 
            
        </div>


        <button class="btn btn-lg btn-secondary text-white" name="saveAsDraft" value="True">Draft</button>
        <button class="btn btn-lg btn-primary text-white" name="submit">Post</button>
    </form>
</div>

{% include 'snippets/footer.html' %}

<script>
$(document).ready(function() {


    $('#title').on('input', function() {
        $(this)
          .width (50)
          .height(50)
          .width (this.scrollWidth)
          .height(this.scrollHeight);
      }); 
    $('#description').on('input', function() {
    $(this)
        .width (50)
        .height(50)
        .width (this.scrollWidth)
        .height(this.scrollHeight);
    }); 

    const djangoinput = document.getElementById("id_thumbnail");
    const buttonoverlay = document.getElementById("custom-button");
    const imagepath = document.getElementById("imagepath");

    buttonoverlay.addEventListener("click", function() {
        djangoinput.click();
    });

    djangoinput.addEventListener("change", function() {
        if (djangoinput.value) {
            imagepath.innerHTML = djangoinput.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
        } else {
            imagepath.innerHTML = "No file chosen";
        }
    });

    $('#id_topic').select2(
        {
        minimumResultsForSearch: Infinity,
        width: '20%',
        placeholder:'Select a topic',
         
    }
    );
});
</script>
{% endblock content %}