{% extends 'default.html' %}
{% load static %}
{% block customcss %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endblock customcss %}
{% block title %}Substack - {{Article.title}}
{% endblock title %}
{% block content %}
{% include 'snippets/generalheader.html' %}

<div class="container">
    <div class="row">
        <div class="col-2 border-end my-5 "></div>
        <div class="col-1 "></div>
            <div class="col-6 d-inline-block my-5">
                <p class="text-center p-0 m-0 lead fs-2">{{ article.title }}</p>
                <p class="text-black text-center">Written by: <a class="text-black text-center" href="{% url 'articles:authors-view' article.author.pk %}">{{article.author.username}}  </a></p>
                <p class="fst-italic text-muted text-center" >{{ article.description }}</p>
                <p> {{ article.body|safe}}</p>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'homepage' %}"> <img src="{{article.thumbnail.url}}"></a>
            </div></div>
        <div class="col-1 "></div>
        <div class="col-2 border-start my-5">
            {% if article.author.pk == request.user.pk %}
                <a href="{% url 'articles:update' article.pk %}"><button class="btn btn-sm btn-outline-secondary me-2">Edit</button></a>
                <a href="{% url 'articles:delete' article.pk %}"><button class="btn btn-sm btn-outline-danger ">Delete</button><a>
            {% endif %}
        </div>
</div>
</div>

{% endblock %}