* {
    font-family: Cahuenga;
}
body {
    margin:0 auto;
    padding: 0;
}
.logo {
    z-index: 2;
    position:absolute;
    top: 2.3rem;
    left: 2.3rem; 
}


hr {
    margin:0;
    padding:0;
    color:white;
}

.front-page-big-text {
    font-size: 68px;
    text-align: center;
    font-weight: 400;
    text-align: center;
    color:white;
    font-size: 5rem;
    padding: 15px;
    line-height: normal;
    margin-bottom: 20rem;
    z-index: 1;
}

.video-section {
    top:0;
    left:0;
    width: 100%;
    height: 98vh;
    display:flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    overflow:hidden;
}

.color-overlay {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background-color:black;
    opacity: 55%;
    
}
.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }

.video-section video {
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}

.scrollarrow {
    position: absolute;
    z-index: 1;
    left:48vw;
    top:90vh;
}

.noHover{
    pointer-events: none !important;
}



