{% load static %}
<style type="text/css">
    #wholenavbar {
        background-color: rgba(0,0,0,0) !important;
        z-index: 15;
    }
    #searchbar {
        width: 35vw !important;
    }
    #searchbarinput {
        background-color: rgba(0,0,0,0) !important;
        text-color: white !important;
    }

    form-control::placeholder {
        text-color:white !important;
    }

    .custombuttonbackground {
        background-color: rgba(0,0,0,0) !important;
        border-bottom: 1px solid #FF6919 !important;
    }
    .custombuttonbackground:hover,
    .custombuttonbackground:focus {
        background-color: #FF7E3C !important;
        color:white !important;
    }

    .dropdown-menu {
        min-width: inherit !important;
    }
    .noHover{
        pointer-events: none !important;
    }
    
</style>

<nav id="wholenavbar" class="navbar navbar-expand navbar-light bg-dark">
<div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homepage' %}">
        <img src="{% static 'substacklogo.png' %}" alt="Substack logo image">
    </a>

    <div class="navbar-nav mb-0 me-5">
        <a class="nav-link text-white fw-bold">Resources</a>
        <a class="nav-link text-white fw-bold">Writers</a>
        <a class="nav-link text-white fw-bold">Readers</a>
    </div>    
    <div class="navbar-nav mb-0 me-5"></div>
    <div class="navbar-nav mb-0 me-5"></div>
    <div class="navbar-nav mb-0 me-5"></div>

    {% if isProfile %}
    <div class="display-6 fst-italic lead ps-5 offset-2">{{request.user.username}}'s Newsletter</div>
    {% elif isCreate %}
    <div class="display-6 fst-italic lead ps-1 offset-3">Compose</div>
    {% elif isDetail %}
    <div class="display-6 fst-italic lead ps-5 offset-2">Edit your profile</div>
    {% elif isAuthorArticles %}
    <div class="display-6 fst-italic lead ps-5 offset-2">{{author.username}}'s Newsletter</div>
    {% endif %}

    <div class="navbar-nav ms-auto mb-2 mb-0 justify-content-between">
        {% if user.is_authenticated %}

            <form action="{% url 'accounts:dashboard' %}" method="get">
                <button class="btn btn-lg btn-outline-primary custombuttonbackground rounded-2 me-3">Dashboard</button></form>
         
            <div class="btn-group btn-group-justified ">
                <button type="button" class="btn btn-lg btn-outline-primary me-2 rounded-2 custombuttonbackground dropdown-toggle" id="timezoneDropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">Profile
                </button>
                <ul class="dropdown-menu col-12" aria-labelledby="timezoneDropdown">
                    <li><form action="{% url 'accounts:account-home' %}" method='get'><button class="btn rounded-2 me-3 ">Edit profile</button></form></li>
                    <li class="border-top"><form action="{% url 'accounts:logout' %}" method='get'><button class="btn rounded-2 me-3">Logout</button></form></li>
                </ul>
            </div>


        {% else %}

            <form action="{% url 'accounts:create' %}" method="get">
                <button class=" btn btn-lg btn-outline-primary custombuttonbackground rounded-2 me-3 ">Start Writing</button></form>
         
            <form action="{% url 'accounts:login' %}" method="get"><li>
                <button class="btn btn-lg btn-outline-primary custombuttonbackground me-3 rounded-2 ">Sign in</button></form>

        {% endif %}
    </div> 
</div>

</nav>