{% load static %}
<div class="header-bar">
    {% if request.user.is_authenticated %}

    <a id="header-logo" href="{% url 'homepage' %}"><img src="{% static 'substacklogo.png' %}"></a>

    <h3>{{request.user.username}}'s Newsletter</h3>
    
    {% else %}
    
    <a id="header-logo" href="{% url 'homepage' %}"> <img src="{% static 'substacklogo.png' %}"> </a>
    
    {% endif %}

<nav class="header-right-header-icons">
    <ul>
        {% if user.is_authenticated %}

            <form action="{% url 'accounts:profile' %}" method="get">
                <li><button class="btn-lg btn-outline-primary rounded-2">Dashboard</button></li></form>
         
            <form action="{% url 'accounts:logout' %}" method="get">
                <li><button class="btn-lg btn-outline-primary rounded-2" >Log in</button></li></form>

        {% else %}

            <form action="{% url 'accounts:create' %}" method="get"><li>
                <button>Start Writing</button></li></form>
         
            <form action="{% url 'accounts:login' %}" method="get"><li>
                <button>Sign in</button></li></form>

        {% endif %}
    </ul> 
</nav>
</div>
